---
title: File 3 Document Title
---
<!DOCTYPE html><html xmlns:xy="http://xyleme.com/xylink">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>File 3 Document Title</title>
<link href="http://docs.pivotal.io/stylesheets/master.css" rel="stylesheet" type="text/css" media="screen,print">
<link href="../../xyleme.css" rel="stylesheet" type="text/css" media="screen, print">
</head>
<body><div class="viewport"><div class="wrap">
<div class="container">
<header></header><main class="content content-layout" id="js-content" role="main"><a id="top"></a><h1 class="bold horton-blue">File 3 Document Title</h1>
<h2 class="small-title thin"></h2>
<div class="lessons">
    
      <h2 class="horton-green bold">First Lesson</h2>
      
        <h3 class="horton-blue bold" id="ref-">Name Your Cluster</h3>
        
          <ul class="number-list">
            
              <li>
                <p>In<code>Name your cluster</code>, type a name for the cluster you want to
                  create. Use no white spaces or special characters in the name.
                </p>
              </li>
              <li>
                <p>Choose<code>Next</code>.
                </p>
              </li>
            
          </ul>
        
      
    
  </div></main>
</div>
<div class="container"><div class="footnotes">
<h2 class="horton-blue border-bottom">Footnotes</h2>
<ol></ol>
</div></div>
<div class="container"><footer><h3 class="horton-blue border-bottom">About Pivotal Data Platform</h3>
<div class="copyright"></div></footer></div>
</div></div></body>
</html>
